/* universal selector */
*{
    color:blue;
    background-color:aquamarine;
    

}
/* element selector */
button{
    color:brown;

}
/* ID selector */
#headingOne{
    color:yellow;

}
#headingTwo{
    color:pink;

}
#headingThree{
    color:purple;
}
