*{
    background-color: lightsalmon;
}
div{
    height:100px;
    background-color: pink;
    border-width: 2px;
    border-style: dashed;
    border-color:red;
    width:100px;
    border-radius:15px;
    padding:10px;
    margin:50px;
    

}
