* {
    background-color:pink;
}

#box {
    color: green;
    background-color: pink;

}

.heading {
    color: red;
}

#button1 { 
    color: green;

}
p{
    text-align : start;
}
h1{
    text-align:center;
    text-decoration: underline;
}
a{
  text-decoration: none;  
}